<h1>Why hello there</h1>
I'm Lou.<br>
I'm an undergraduate student at New York University's Stern School Of Business. I major in Business & Political Economy and minor in Computer Science. I learnt to code at Makers Academy, London. Look at some cool projects I've created. I was born in Kuala Lumpur but I currently live in New York. Check out some of my other stuff. 
Let's get in touch.

<a href="www.linkedin.com/in/louiselai88/">other stuff</a>
<a href="www.makersacademy.com">Makers Academy</a>
<a href="http://www.stern.nyu.edu/programs-admissions/undergraduate/academics/business-political-economy-degree-program/bpe-curriculum-overview">Business & Political Economy</a>
<a href="http://cs.nyu.edu/webapps/content/academic/undergrad/minors">Computer Science</a>
<a href="http://www.nyu.edu/">New York University</a>
<a href="www.stern.nyu.edu">Stern School Of Business</a>
<a href="https://www.google.com.au/maps/place/Kuala+Lumpur,+Federal+Territory+of+Kuala+Lumpur,+Malaysia/@3.139003,101.6868555,12z/data=!3m1!4b1!4m2!3m1!1s0x31cc49c701efeae7:0xf4d98e5b2f1c287d">Malaysia</a>
<a href="https://www.google.com.au/maps/preview?q=New+york&ie=UTF-8&ei=worzU8PFBMOxuATHq4LAAw&ved=0CAcQ_AUoAg">New York</a>
<!-- <a href=""></a> -->