<body>I'm Lou.<br>
I'm an undergraduate student at <a href="http://www.nyu.edu/" target="_blank">New York University</a>'s <a href="www.stern.nyu.edu">Stern School Of Business</a>. I major in <a href="http://www.stern.nyu.edu/programs-admissions/undergraduate/academics/business-political-economy-degree-program/bpe-curriculum-overview">Business & Political Economy</a> and minor in <a href="http://cs.nyu.edu/webapps/content/academic/undergrad/minors">Computer Science</a>. I learnt to code at <a href="www.makersacademy.com">Makers Academy</a>, London. Look at some <a href="https://github.com/loulai">cool coding projects</a> I've created. I was born in 
<a href="https://www.google.com.au/maps/place/Kuala+Lumpur,+Federal+Territory+of+Kuala+Lumpur,+Malaysia/@3.139003,101.6868555,12z/data=!3m1!4b1!4m2!3m1!1s0x31cc49c701efeae7:0xf4d98e5b2f1c287d">Kuala Lumpur</a> but I currently live in 
<a href="https://www.google.com.au/maps/preview?q=New+york&ie=UTF-8&ei=worzU8PFBMOxuATHq4LAAw&ved=0CAcQ_AUoAg">New York</a>.<br>
<a href="http://www.linkedin.com/in/louiselai88/">Let's get in touch</a>. 

<!-- <a href=""></a> -->
<a href=""></a>

</body>


