<h1>Why hello there</h1>
I'm Lou.<br>
I'm an undergraduate student at New York University's Stern School Of Business. I major in Business & Political Economy and minor in Computer Science. I learnt to code at Makers Academy, London.
I was born in Malaysia but I currently live in New York.

<a href="www.linkedin.com/in/louiselai88/">Contact me</a>
<a href="www.makersacademy.com">Makers Academy</a>
<a href="">Business & Political Economy</a>
<a href="">Computer Science</a>
<a href="">New York University</a>
<a href="">Stern School Of Business</a>
<a href=""></a>