// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: 20pt;
	font-family: "Times New Roman";
}

a {
  color:inherit;
  text-decoration: none;
 }

 a:hover {
  color:pink;
  text-decoration: none;
 }
